[Desktop Entry]
Type=Application
Name=Apploye
Exec=/home/carri/bin/Apploye-3.1.12.AppImage
Icon=/home/carri/.local/share/applications/icons/apploye.png
Terminal=false
Categories=Work
